---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Xplore</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
</style>
<script>
  import {
    AppLanguages,
    SelectedLanguageStore,
  } from "../stores/language.store";

  function loadTranslation() {
    const localStorageLanguage =
      localStorage.getItem("language") || localStorage.getItem("lang");
    const language = localStorageLanguage || navigator.language;

    const isValidLanguage = (Object.values(AppLanguages) as string[]).includes(
      language
    );

    if (!isValidLanguage) return;

    SelectedLanguageStore.set(language as AppLanguages);
  }

  window.addEventListener("load", loadTranslation);
</script>
