---
import LanguageSelector from "./LanguageSelector";
import SiteSelector from "./SiteSelector";
import Title from "./Title";
---

<LanguageSelector client:only="react" />

<div
  id="overlay"
  class="z-10 min-w-auto border fixed bottom-0 left-0 right-0 bg-gray-600 text-white py-2 px-8 rounded-tl-2xl rounded-tr-2xl sm:top-1/2 sm:right-0 sm:bottom-auto sm:left-auto sm:transform sm:-translate-y-1/2 sm:rounded-bl-2xl sm:rounded-tr-none sm:max-w-xs sm:w-auto sm:min-w-xl"
>
  <Title client:only="react" />

  <SiteSelector client:only="react" />
</div>
