---

---

<div
  class="z-10 absolute top-0 left-0 right-0 bottom-0 bg-black/50 text-white flex flex-col justify-center items-center"
>
  <div class="bg-gray-600 absolute right-0 top-auto py-2 px-8 rounded-tl-lg">
    <h1 class="text-2xl">XPlore</h1>
    <h3>Select your destinations below:</h3>
  </div>
</div>
